---
import Container from "@components/container.astro";
import ToggleTheme from "@components/toggleTheme.astro";
---

<Container>
  <header
    class="flex flex-col lg:flex-row justify-between items-center my-5 dark:bg-slate-800">
    <div class="flex w-full items-center justify-between">
      <a href="/" class="text-lg flex flex-1">
        <span class="font-bold text-slate-800">Andr&eacute;</span>
        <span class="font-bold text-slate-800 hidden sm:inline">
          Gama del Otero</span
        >
        <span class="text-slate-500">Front-End developer</span>
      </a>
      <ToggleTheme />
    </div>
  </header>
</Container>
