---
import Container from "@components/container.astro";
import ToggleTheme from "@components/toggleTheme.astro";
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <div class="flex w-full items-center justify-between">
      <span class="flex flex-1">
        <a href="/" class="text-lg flex w-auto">
          <span class="font-bold text-slate-900 dark:text-slate-100"
            >Andr&eacute;&nbsp;</span
          >
          <span
            class="font-bold text-slate-900 dark:text-slate-100 hidden sm:inline">
            Gama del Otero</span
          >
          <span class="text-slate-500 dark:text-slate-300"
            >&nbsp;Front-End developer</span
          >
        </a>
      </span>
      <ToggleTheme id="theme-toggle" />
    </div>
  </header>
</Container>
