---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Me: main skills and tools:",
    description:
      "HTML, CSS, JavaScript, React, NextJS, Bootstrap, Sass, Tailwind, Styled Components, VSCode, Git, Github, Figma, Slack. Trilingual in Portuguese, Spanish and English",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "This site:",
    description: "Build with Astro, Tailwind and Typescript. Hosted on Vercel.",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">About</h2>
</div>

<div class="grid md:grid-cols-2 mt-8 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
