---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/profile.webp";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-4 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden lg:block">
    <Picture
      class="rounded-full"
      src={heroImage}
      alt="Hello, I am Andre! "
      widths={[200, 400]}
      aspectRatio="1:1"
      sizes="(max-width: 700px) 50vw, 310px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl mb-4 lg:mb-6 lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Hello. I am Andr&eacute;
    </h1>
    <h2
      class="text-3xl lg:text-6xl xl:text-4xl font-bold lg:tracking-tight xl:tracking-tighter">
      Front-end developer.
    </h2>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      I am a Front-End developer born in Brazil and living in Argentina, who
      cares about site speed, user experience and responsive design. Currently
      working as a SSR Front-End developer at Avalith.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        size="md"
        href="https://ar.linkedin.com/in/andredelotero"
        style="outline"
        target="_blank"
        class="flex gap-1 items-center justify-center border-slate-200"
        rel="noopener">
        <Icon class="text-black w-5 h-5" name="mdi:linkedin" />
        Linkedin
      </Link>
      <Link
        size="md"
        style="outline"
        rel="noopener"
        href="https://github.com/andredelotero"
        class="flex gap-1 items-center justify-center border-slate-200"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="mdi:github" />
        GitHub
      </Link>
      <Link
        size="md"
        style="outline"
        rel="noopener"
        href="https://twitter.com/AndreDelOtero"
        class="flex gap-1 items-center justify-center border-slate-200"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="mdi:twitter" />
        Twitter
      </Link>
    </div>
  </div>
</main>
