---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/profile.webp";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden lg:block">
    <Picture
      class="rounded-full"
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400]}
      aspectRatio="1:1"
      sizes="(max-width: 700px) 50vw, 310px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Hello, I am André,
    </h1>
    <h2
      class="text-3xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Front-end developer.
    </h2>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      I am a Front-End developer born in Brazil, living in Argentina who cares
      about site speed, user experience and responsiveness. Currently I am
      working as a SSR Front-End developer at Avalith.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://ar.linkedin.com/in/andredelotero"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        My Linkedin profile
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/andredelotero"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        My GitHub profile
      </Link>
    </div>
  </div>
</main>
