---
import { SEO } from "astro-seo";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />

    <SEO
      title="Andre Gama del Otero - Frontend developer"
      description="Frontend developer."
      canonical="http:/www.andredelotero.dev"
      twitter={{
        creator: "@andredelotero",
        site: "@andredelotero",
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
