---
import { SEO } from "astro-seo";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />

    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <SEO
      title="Andre Gama del Otero - Frontend developer"
      description="Frontend developer."
      canonical="http:/www.andredelotero.dev"
      twitter={{
        creator: "@andredelotero",
        site: "@andredelotero",
      }}
    />
  </head>
  <body class="dark:bg-slate-900">
    <Navbar />
    <slot />
    <style is:global>
      body {
        background-color: #fafafa;
        color: #0a0a0a;
      }
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
